{% if errors %}
{% list_errors errors=errors %}
{% else %}
<ul>
    {% if messages %}
    {% for msg in messages %}
    <li>{{ msg.message_contents }}
    {% if msg.account %}--<a href="{% url controller="account" action="view" id=msg.account.id %}">{{ msg.account.email }}</a>{% endif %}
    {% endfor %}
    {% else %}
    <li>No messages!
    {% endif %}
</ul>
{% endif %}

<form method="post">
    Enter a new message:
<textarea name="message_contents">
{% if new_msg %}{{ new_msg.message_contents }}{% endif %}
</textarea>
    <input type="submit">
</form>

{% if is_local %}
<form method="post" action="{% url action="goodbye" %}">
    Delete:
    <select name="message_id">
        {% for msg in messages %}
        <option value="{{ msg.id }}">{{ msg.message_contents }}
        {% endfor %}
    </select>
    <input type="submit">
</form>
{% endif %}
